/* CSS RESET */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* VARIABLES */

:root {
  --iriscolor: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --green: #31d0aa;
  --lightslate: #8e8f99;
}

/* GENERAL STYLES */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}

.link {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

.section {
  padding: 120px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iriscolor);
  /* margin-right: 76px; */
}

.menu {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.menu-item {
  padding: 24px 0;
}

.cta {
  display: flex;
  gap: 40px;
}

/* HERO SECTION */

.hero-section {
  background-color: var(--navyblue);
  text-align: center;
  color: var(--white);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}

.hero-button {
  background-color: var(--iriscolor);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  color: var(--white);
  display: inline-flex;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 48px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
  cursor: pointer;
}

.section-no-top-padding {
  padding-top: 0;
}

.section-grey {
  background-color: var(--cloud);
}

.project-section {
  padding: 96px 0 120px 0;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.list-card {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PORTFOLIO BUTTON*/

.button {
  color: var(--iriscolor);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background-color: var(--cloud);
  padding: 12px 24px;
}

.active-filter,
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--OCEAN, #404bbf);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-button {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  letter-spacing: 0.32px;
  color: var(--cloud);
  background-color: var(--iriscolor);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.project-item:hover .project-cover-text {
  transform: translateY(0);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.contact-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}

.logo-header {
  color: var(--navyblue);
}

.feature-list {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.list-offer {
  display: flex;
  gap: 24px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.card-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-container {
  padding: 32px 0;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  border-radius: 4px;
  background-color: var(--cloud);
  /* margin-bottom: 8px; */
}

.item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.32px;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.item-title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--navyblue);
  margin-top: 8px;
  margin-bottom: 8px;
}

.item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--iriscolor);

  display: flex;
  align-items: center;
  justify-content: center;
}

.socmed-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.socmed-icon {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}

/* CUSTOMERS SECTION */

/* .customers-title {
  color: var(--navyblue);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;

  border: 1px solid var(--lightslate);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

/* FOOTER SECTION */

.footer {
  background: var(--NAVY-BLUE, #2e2f42);
  padding: 100px 0;
}

.logo-footer {
  color: var(--cloud);
}

.footer .item-text {
  color: var(--cloud);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-top: 18px;
}

.socmed-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--white);
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--iriscolor);

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-svg-item {
  width: 40px;
  height: 40px;
}

/* PORTFOLIO */

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  padding: 24px 0;
}

.active-link,
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.active-link::after {
  content: " ";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--ocean);
  position: relative;
  top: 15px;
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-link {
  display: block;
}

.container-project {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* loom tutorial of sir Val paused at 7:06 */
